[character].dark {
    .msr-line {
        p {
            background: var(--dark-mode, #0e0e0e);
            color: #eee;

            &:first-child {
                &::before {
                    box-shadow: 20px 0 0 0 var(--dark-mode, #0e0e0e);
                }
            }
        }
        &[unknown] {
            p {
                background: #0e0e0e;
            }
            &:first-child {
                &::before {
                    box-shadow: 20px 0 0 0 #0e0e0e;
                }
            }
        }
    }
}

.dark .thought {
    color: #d4d4fa;
}
