.dark {
    .msr-line {
        p {
            background: var(--dark-mode, #0e0e0e);
            color: #eee;

            &:first-child::before {
                background: var(--dark-mode, #0e0e0e);
            }
        }
    }

    &[unknown] {
        .msr-line {
            p {
                background: #0e0e0e;

                &:first-child::before {
                    background: #0e0e0e;
                }
            }
        }
    }

    .thought {
        color: #d4d4fa;
    }
}
