.hold {
    display: inline-block;
}

.thought {
    color: #5555c0;
}

.spell {
    font-family: "Almendra", "M PLUS 1p", serif;
    letter-spacing: 0.015em;
    font-size: 1.1em;
    line-height: 1.3;
}
