.fill {
    .msr-line {
        p {
            background: var(--fill-mode, #737373);
            color: #fff;

            &:first-child::before {
                background: var(--fill-mode, #737373);
            }
        }
    }

    &[unknown] {
        .msr-line {
            p {
                background: #737373;

                &:first-child::before {
                    background: #737373;
                }
            }
        }
    }

    .thought {
        color: #e9efff;
    }
}
