.msr-unit {
    * {
        transition: all 0.2s ease;
    }

    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
    row-gap: 2.5px;
}

.msr-icon {
    grid-row: 1/3;
}

.msr-icon__base {
    display: block;
    background: 100% / 100%
            var(
                --icon,
                url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
            ),
        var(--color, #b3b3b3);
    width: 60px;
    height: 60px;
    margin: 0 auto 0 0;
    border-radius: 12px 4px;
}

.msr-name {
    font-size: 0.8em;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;

    &::before {
        content: var(--name, "???");
    }
}

.msr-line {
    display: flex;
    flex-direction: column;
    grid-column: 2;

    p {
        align-self: flex-start;
        font-size: 1em;
        background: var(--light-mode, #f1f1f1);
        color: #222;
        padding: 0.6em;
        border-radius: 0.5em;
        margin-bottom: 5px;
        position: relative;
        filter: drop-shadow(0 1px 1.5px rgba(0, 0, 0, 0.05))
            drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));

        &:hover {
            transform: translate(2px, 0px);
        }

        &:first-child {
            border-top-left-radius: 0em;

            &::before {
                content: "";
                position: absolute;
                background-color: transparent;
                left: -30px;
                top: 0px;
                height: 10px;
                width: 30px;
                border-top-right-radius: 25px;
                box-shadow: 20px 0 0 0 var(--light-mode, #f1f1f1);
            }
        }
    }
}

.hold {
    display: inline-block;
}

.thought {
    color: #5555c0;
}

.spell {
    font-family: "Almendra", serif;
    letter-spacing: 0.015em;
    font-size: 1.1em;
    line-height: 1.3;
}
