[character] {
    &.smallest {
        .msr-line {
            p {
                font-size: 0.8em;
            }
        }
    }

    &.smaller {
        .msr-line {
            p {
                font-size: 0.9em;
            }
        }
    }

    &.bigger {
        .msr-line {
            p {
                font-size: 1.1em;
            }
        }
    }

    &.biggest {
        .msr-line {
            p {
                font-size: 1.2em;
            }
        }
    }
}
