@use '_mixins.scss';

.toolbar-wrapper.hideSlider {
    > .slider-container {
        transform: translateY(calc(-100% - 15px));
        transition: transform 0.3s ease, max-height 0s 0.3s step-end;
    }

    .slider-container {
        height: 0;
    }

    .slider {
        height: 0;

        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
            height: 0;
        }
    }

    margin-bottom: unset;
}

.slider-container {
    position: relative;
    left: 6%;
    background: #fff;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0 8px 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: max-height 0s step-start, transform 0.3s 0s ease;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: 0;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--storyColor, #222);
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--storyColor, #222);
        cursor: pointer;
    }
}
