[character] {
    position: relative;
    display: block;
    --light-mode: hsl(var(--hue), 54%, 93%);
    p {
        font-size: 1em;
        margin: 0 0 0.4em 90px;
        background: var(--light-mode, #f1f1f1);
        color: #222;
        padding: 0.9em;
        display: table;
        border-radius: 10px;
        transition: 0.15s all ease;
        &:first-child {
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 70px;
                height: 70px;
                background-color: var(--color, #b3b3b3);
                border-radius: 50%;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 70px;
                height: 70px;
                background: 100% / 100%
                    var(
                        --icon,
                        url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
                    );
                border-radius: 50%;
            }
        }

        &:last-of-type {
            margin-bottom: 20px;
        }
    }

    &::before {
        content: attr(character);
        margin-left: 95px;
        display: block;
        font-weight: 700;
        font-size: smaller;
        text-transform: uppercase;
        line-height: 17px;
    }

    &::after {
        content: "";
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 15px solid var(--light-mode, #f1f1f1);
        position: absolute;
        top: 35px;
        left: 76px;
        transition: 0.15s all ease;
    }

    &[hidden] p:first-child::after {
        background: #000;
        -webkit-mask-image: var(
            --icon,
            url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
        );
        -webkit-mask-size: 100%;
        -webkit-mask-position: 100%;
        mask-image: var(
            --icon,
            url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
        );
        mask-size: 100%;
        mask-position: 100%;
        border-radius: 50%;
    }

    &[unknown] {
        p {
            &:first-child {
                &::after {
                    background: #000;
                    -webkit-mask-image: var(
                        --icon,
                        url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
                    );
                    -webkit-mask-size: 100%;
                    -webkit-mask-position: 100%;
                    mask-image: var(
                        --icon,
                        url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
                    );
                    mask-size: 100%;
                    mask-position: 100%;
                    border-radius: 50%;
                }

                &::before {
                    background-color: #b3b3b3;
                }
            }

            background: #f1f1f1;
        }

        &::before {
            content: "???";
        }
    }
}

[character="Unknown"]::before {
    content: "???";
}

[character][unknown]::after {
    border-right: 15px solid #f1f1f1;
}

.hold {
    display: inline-block;
}

.thought {
    color: #5555c0;
}

.spell {
    font-family: "Almendra", serif;
    letter-spacing: 0.015em;
    font-size: 1.1em;
    line-height: 1.3;
}
