[character].dark {
    --dark-mode: hsl(var(--hue), 12%, 25%);
    p {
        color: #eee;
        background: var(--dark-mode, #0e0e0e);
    }

    &::after {
        border-right-color: var(--dark-mode, #0e0e0e);
    }
}

.dark .thought {
    color: #d4d4fa;
}
