[character].smallest {
    p {
        font-size: 0.8em;
    }
}

[character].smaller {
    p {
        font-size: 0.9em;
    }
}

[character].smallest,
[character].smaller {
    &::after {
        top: 30px;
    }
}

[character].bigger {
    p {
        font-size: 1.1em;
    }
}

[character].biggest {
    p {
        font-size: 1.2em;
    }
}
