[character], .minitalk, .note.location, .note.narration, .note.cw
    -youbkit-touch-callout: none
    -youbkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
