.toolbar {
    display: grid;
    grid-auto-flow: column;
    gap: 23px;
    background: #fff;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 15px;
    padding: 2px 35px;
    z-index: 3;

    &-wrapper {
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        top: 5px;
        z-index: 2;
        margin-bottom: 20px;
        filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.2));
    }

    a {
        color: #555;
        border-bottom: none;
        transition: 0.2s ease-in-out;
        line-height: 0;
        border-radius: 5px;
        padding: 2px;

        &:hover {
            color: #000;
            background-color: #e0e0e0;
        }

        &#fuckToggle:hover {
            color: #9f0606;
        }
    }

    &__section {
        display: flex;

        &.fuckSection.fuckON a {
            color: #9f0606;
        }
    }

    span {
        font-family: "Material Icons Rounded";
        line-height: 1;
        font-size: 1.35em;
        font-weight: 700;
    }
}
