@use '_mixins.scss';

.toolbar-wrapper {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    top: 5px;
    z-index: 2;
    margin-bottom: 20px;
}

.toolbar {
    display: grid;
    grid-auto-flow: column;
    gap: 23px;
    background: #fff;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 15px;
    @include mixins.toolbarShadow;
    padding: 2px 35px;
    z-index: 3;

    a {
        color: #555;
        border-bottom: none;
        transition: 0.2s ease-in-out;
        line-height: 0;
        border-radius: 5px;
        padding: 2px;

        &:hover {
            color: #000;
            background-color: #e0e0e0;
        }
    }

    .material-icons-round {
        font-size: 1.35em;
        font-weight: 700;
    }
}

.toolbar__section {
    display: flex;
}
