%slider-transition {
    transition: transform 0.3s ease, max-height 0s 0.3s step-end;
}

.toolbar-wrapper.showSlider .slider-container {
    @extend %slider-transition;
    transform: translateY(calc(100% + 5px));
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: 0;
    opacity: 0.7;
    transition: opacity 0.2s;

    &-container {
        @extend %slider-transition;
        position: absolute;
        background: #fff;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 0 8px 5px;
        border-radius: 15px;
    }

    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--storyColor, #222);
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--storyColor, #222);
        cursor: pointer;
    }
}
