.minitalk {
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: 0.15s all ease;

    .msr-unit {
        &:last-of-type {
            margin-bottom: unset;
        }
    }

    ul {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;
        list-style: none;
        padding: 0;
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: solid 3px;
        border-color: var(--light-mode, #f1f1f1);
        gap: 5px;
    }

    li {
        border-radius: 10px 10px 0 0;
        border: solid 3px;
        border-color: var(--light-mode, #f1f1f1);
        border-bottom: 0;
        padding: 0;
        margin-bottom: -2px;

        > a {
            color: #222;
            border: 0;
            display: block;
            padding: 3px;
            text-align: center;
        }

        &.active {
            background: var(--light-mode, #f1f1f1);
            font-weight: 700;
        }
    }

    &-option {
        &_header {
            background: var(--light-mode, #f1f1f1);
            border-radius: 5px;
            cursor: pointer;
            padding: 8px;
            display: grid;
            grid-template-columns: 40px 1fr 40px;
            text-align: center;
            align-items: center;
            gap: 10px;
            color: #222;
            transition: 0.15s all ease;

            &::after {
                content: "\e5cf";
                display: inline-block;
                font-family: "Material Icons Rounded";
                font-size: 1.5em;
                font-weight: 700;
                line-height: 1;
                transition: transform 0.4s ease;
                justify-self: end;
                align-self: center;
            }

            &::before {
                content: "";
                background: var(--charahead) 0 (0 / cover);
                height: 40px;
                width: 40px;
                display: inline-block;
            }
        }

        &_content {
            display: none;
            padding: 8px 0 0;
        }
    }
}
