[mt="normal"],
[mt="rare"] {
    display: inline-block;
    width: 25px;
    height: 29.28px;
    margin: 0 10px -8px 0 !important;
    background-size: cover;
}

[mt="normal"] {
    background-image: url("https://cdn.jsdelivr.net/gh/enstars/img/talkevent_normal.png");
}

[mt="rare"] {
    background-image: url("https://cdn.jsdelivr.net/gh/enstars/img/talkevent_rare.png");
}
