[mt="normal"], [mt="rare"] {
    display: inline-block;
    width: 25px;
    height: 29.28px;
    margin: 0 10px -8px 0 !important;
    background-size: cover;
}
[mt="normal"] {
    background-image: url('https://cdn.jsdelivr.net/gh/enstars/img/talkevent_normal.png');
}
[mt="rare"] {
    background-image: url('https://cdn.jsdelivr.net/gh/enstars/img/talkevent_rare.png');
}
.minitalk {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.minitalk [character] p:last-of-type {
    margin-bottom: unset;
}
.minitalk-option_header {
    background: var(--light-mode, #f1f1f1);
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	display: grid;
    grid-template-columns: 40px 1fr 1.5em;
    text-align: center;
    align-items: center;
    gap: 10px;
    color: #222;
}
.minitalk-option_header:after {
    content: '\e5cf';
    display: inline-block;
    font-family: 'Material Icons Round';
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1;
    transition: transform .4s ease;
}
.minitalk-option_content {
    display: none;
    padding: 15px 0;
}
.minitalk[character]:before, .minitalk[character]:after {
    content: none;
}
.minitalk-option_header:before {
    content: '';
    background: var(--charahead) 0 0/cover;
    height: 40px;
	width: 40px;
    display: inline-block;
}
.minitalk ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid #0c195c;
    gap: 10px;
}
.minitalk li {
    border-radius: 10px 10px 0 0;
    background-color: #0c195c;
    display: flex;
    justify-content: center;
    padding: 3px;

}
.minitalk li > a {
    border: 0;
    color: #fff;
}
