a.inline-note {
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px;
	font-weight: 700;
	font-size: .7em;
	border-radius: 3px;
	border: solid 1px #ababab;
	padding: 0 3px;
	background: rgb(255 255 255 / 50%);
	color: var(--storyColor);
	--storyColor-dark-l: calc(var(--storyColor-l) - 20%);
	--storyColor-dark: hsl( var(--storyColor-h), var(--storyColor-s), var(--storyColor-dark-l) );
}

a.inline-note:hover {
	color: var(--storyColor-dark);
}
