@media only screen and (max-width: 812px) {
    .story {
        &-box {
            grid-template-columns: auto [col-start] 1fr [last];
            grid-template-rows: auto;
            margin: -245px 15px 0;
        }

        &-cover {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }

    .title-area {
        grid-column: 2/3;
        grid-row: 1/2;
        line-height: 1.25;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .mobile-reverse {
        .story {
            &-box {
                grid-template-columns: 1fr [col-start] auto [last];
            }

            &-cover {
                grid-column: 2/2;
            }
        }

        .title-area {
            grid-column: 1/2;
        }
    }

    .info-area {
        grid-column: 1/3;
    }

    .chapter-area {
        grid-column: 1/3;
        grid-row: 3;
        font-size: 0.9em;
    }

    .characters > .value a {
        height: 35px;
        width: 35px;
        margin-bottom: -3px;
    }

    .lightbox {
        &__dim {
            font-size: 0.9em;

            .skills li {
                grid-template-columns: 50px 1fr;
            }
        }

        &-content {
            padding: 15px;
            gap: 15px;
        }
    }

    .card {
        &__name {
            font-size: 1em;
        }

        &__jp {
            font-size: 0.9em;
        }
    }

    .skills {
        li::before {
            font-size: 0.7em;
        }

        .name,
        .desc {
            font-size: 0.88em;
        }
    }

    .quotes {
        font-size: 0.83em;
    }
}

@media only screen and (max-width: 567px) {
    .preview {
        &-background {
            display: none;
        }

        &-wrapper .grid-wrapper {
            grid-template-columns: unset;
        }

        &-box {
            padding: 0;
            margin: 0;
            background: none;
            box-shadow: none;
        }
    }

    .characters > .value a {
        height: 35px;
        width: 35px;
        margin-bottom: -3px;
    }
}

@media only screen and (max-width: 400px) {
    .story-cover {
        display: none;
    }

    .title-area {
        grid-column: 1/3;
    }
}
