%tab-font-size {
    font-size: 0.9em;
}

.story-wrapper {
    .tab {
        &-header {
            @extend %tab-font-size;
            background: rgba(var(--storyColor-rgb), 0.1);
            font-weight: 700;
            border-radius: 5px;
            cursor: pointer;
            padding: 8px;
            display: flex;
            justify-content: space-between;

            &:first-child::after {
                content: "\e5cf";
                display: inline-block;
                font-family: "Material Icons Rounded";
                font-size: 1.5em;
                line-height: 1;
                transition: transform 0.4s ease;
            }
        }

        &-content {
            @extend %tab-font-size;
            display: none;
            padding: 8px 10px 0;

            .source {
                @extend %tab-font-size;
                text-align: right;
            }

            > .tab-item {
                &:first-child {
                    padding: 0 0 8px 0;
                }

                &:not(:first-child) {
                    border-top: solid 1px #eff0f4;
                    padding: 8px 0;
                }

                &:last-child {
                    padding: 8px 0 0 0;
                }
            }

            ul {
                &:only-child {
                    padding-left: 0;
                    margin: 0 0 0 20px;
                }
            }
        }

        &-item > {
            .label {
                font-weight: 700;
                font-size: 0.88em;
            }

            .value {
                margin-left: 10px;
            }
        }
    }
}

.chapter-area > .mini-talk__open:after,
.tab-header__open:first-child:after {
    transform: rotate(180deg);
}
