.title {
    &-area {
        line-height: 1.25;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__title {
            font-size: 1.35em;
        }

        &__start a {
            background: rgba(var(--storyColor-rgb), 0.1);
            color: rgba(var(--storyColor-rgb), 1);
            padding: 5px 10px;
            display: inline-block;
            border-radius: 5px;
            transition: all 0.2s ease;
            border: none;

            &:hover {
                background: rgba(var(--storyColor-rgb), 1);
                color: #fff;
            }
        }
    }
}

.title-area__title,
.title-area__subtitle,
.tab-header__name,
.card__name,
.card__jp {
    margin: 0;
    border: 0;
}

.title-area__subtitle,
.card__jp {
    font-family: "M PLUS 1p", "Noto Sans JP";
}

.title-area__title,
.card__name {
    font-weight: 700;
}

.preview-wrapper .title-area__start a:hover {
    background: rgba(var(--storyColor-rgb), 1);
    color: #fff;
}
