[character]
    position: relative
    display: block
    p
        margin: 0 0 .4em 90px
        background: var(--light-mode, #f1f1f1)
        color: #222
        padding: .9em
        display: table
        border-radius: 10px
        &:first-child
            &::before
                content: ''
                display: block
                position: absolute
                top: 0
                left: 0
                width: 70px
                height: 70px
                background-color: var(--color, #b3b3b3)
                border-radius: 10px
            &::after
                content: ''
                display: block
                position: absolute
                top: 0
                left: 0
                width: 70px
                height: 70px
                background: 100%/100% var(--icon, url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png"))
                border-radius: 10px
        &:last-of-type
            margin-bottom: 20px

[character]::before
    content: attr(character)
    margin-left: 95px
    display: block
    font-weight: 700
    font-size: smaller
    text-transform: uppercase
    line-height: 17px

[character]::after
    content: ''
    border-top: 8px solid transparent
    border-bottom: 8px solid transparent
    border-right: 15px solid var(--light-mode, #f1f1f1)
    position: absolute
    top: 40px
    left: 76px

[character][hidden] p:first-child::after, [character][unknown] p:first-child::after
    background: #000
    -webkit-mask-image: var(--icon, url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png"))
    -webkit-mask-size: 100%
    -webkit-mask-position: 100%
    mask-image: var(--icon, url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png"))
    mask-size: 100%
    mask-position: 100%
    border-radius: 10px

[character][unknown]
    p
        background: #f1f1f1
        &:first-child
            &::before
                background-color: #b3b3b3

[character][unknown]::before, [character="Unknown"]::before
    content: '???' !important

[character][unknown]::after
    border-right: 15px solid #f1f1f1

.hold
    display: inline-block

.thought
    color: #5555c0 !important

@import 'enst'
@import 'mobile'
