@use "sass:color";

[character="Anzu"] {
    --color: #ffb6da;
    --hue: #{color.hue(#ffb6da)};
    --name: "Anzu";
}

[character="Adonis"] {
    --color: #915da3;
    --hue: #{color.hue(#915da3)};
    --name: "Adonis";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/adonis.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/adonis.png");
}

[character="Aira"] {
    --color: #fff1cf;
    --hue: #{color.hue(#fff1cf)};
    --name: "Aira";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/aira.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/aira.png");
}

[character="Akiomi"] {
    --color: #915c8b;
    --hue: #{color.hue(#915c8b)};
    --name: "Akiomi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/akiomi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/akiomi.png");
}

[character="Arashi"] {
    --color: #edde7b;
    --hue: #{color.hue(#edde7b)};
    --name: "Arashi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/arashi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/arashi.png");
}

[character="Chiaki"] {
    --color: #e60033;
    --hue: #{color.hue(#e60033)};
    --name: "Chiaki";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/chiaki.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/chiaki.png");
}

[character="Eichi"] {
    --color: #fff3b8;
    --hue: #{color.hue(#fff3b8)};
    --name: "Eichi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/eichi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/eichi.png");
}

[character="Esu"] {
    --color: #80fff4;
    --hue: #{color.hue(#80fff4)};
    --name: "Esu";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/esu.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/esu.png");
}

[character="Fuyume"] {
    --color: #ccadd9;
    --hue: #{color.hue(#ccadd9)};
    --name: "Fuyume";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/fuyume.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/fuyume.png");
}

[character="Gatekeeper"] {
    --color: #7e6407;
    --hue: #{color.hue(#7e6407)};
    --name: "Gatekeeper";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/gatekeeper.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/gatekeeper.png");
}

[character="Hajime"] {
    --color: #cab8d9;
    --hue: #{color.hue(#cab8d9)};
    --name: "Hajime";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/hajime.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/hajime.png");
}

[character="Hiiro"] {
    --color: #ba2636;
    --hue: #{color.hue(#ba2636)};
    --name: "Hiiro";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/hiiro.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/hiiro.png");
}

[character="HiMERU"] {
    --color: #89c3eb;
    --hue: #{color.hue(#89c3eb)};
    --name: "HiMERU";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/himeru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/himeru.png");
}

[character="Hinata"] {
    --color: #eb6ea0;
    --hue: #{color.hue(#eb6ea0)};
    --name: "Hinata";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/hinata.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/hinata.png");
}

[character="Hitsugi"],
[character="NEGI"] {
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/hitsugi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/hitsugi.png");
}

[character="Hitsugi"] {
    --name: "Hitsugi";
    --color: #00c6ff;
    --hue: #{color.hue(#00c6ff)};
}

[character="NEGI"] {
    --name: "NEGI";
    --color: #eac254;
    --hue: #{color.hue(#eac254)};
}

[character="Hiyori"] {
    --color: #b8d200;
    --hue: #{color.hue(#b8d200)};
    --name: "Hiyori";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/hiyori.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/hiyori.png");
}

[character="Hokuto"] {
    --color: #0068b7;
    --hue: #{color.hue(#0068b7)};
    --name: "Hokuto";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/hokuto.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/hokuto.png");
}

[character="Ibara"] {
    --color: #74325c;
    --hue: #{color.hue(#74325c)};
    --name: "Ibara";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/ibara.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/ibara.png");
}

[character="Ibuki"] {
    --color: #66bbcc;
    --hue: #{color.hue(#66bbcc)};
    --name: "Ibuki";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/ibuki.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/ibuki.png");
}

[character="Izumi"] {
    --color: #bbdbf3;
    --hue: #{color.hue(#bbdbf3)};
    --name: "Izumi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/izumi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/izumi.png");
}

[character="Jin"] {
    --color: #8da0b6;
    --hue: #{color.hue(#8da0b6)};
    --name: "Jin";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/jin.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/jin.png");
}

[character="Jun"] {
    --color: #192f60;
    --hue: #{color.hue(#192f60)};
    --name: "Jun";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/jun.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/jun.png");
}

[character="Kanata"] {
    --color: #008db7;
    --hue: #{color.hue(#008db7)};
    --name: "Kanata";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/kanata.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/kanata.png");
}

[character="Kanna"] {
    --color: #baccb8;
    --hue: #{color.hue(#baccb8)};
    --name: "Kanna";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/kanna.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/kanna.png");
}

[character="Kaoru"] {
    --color: #fdd35c;
    --hue: #{color.hue(#fdd35c)};
    --name: "Kaoru";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/kaoru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/kaoru.png");
}

[character="Keito"] {
    --color: #316745;
    --hue: #{color.hue(#316745)};
    --name: "Keito";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/keito.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/keito.png");
}

[character="Koga"] {
    --color: #c9caca;
    --hue: #{color.hue(#c9caca)};
    --name: "Koga";
    --light-mode: hsl(#{color.hue(#c9caca)}, 9%, 92%) !important;
    --dark-mode: hsl(#{color.hue(#c9caca)}, 5%, 25%) !important;
    --fill-mode: hsl(#{color.hue(#c9caca)}, 5%, 45%) !important;
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/koga.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/koga.png");
}

[character="Kohaku"] {
    --color: #f4b3c2;
    --hue: #{color.hue(#f4b3c2)};
    --name: "Kohaku";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/kohaku.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/kohaku.png");
}

[character="Kuro"] {
    --color: #e83929;
    --hue: #{color.hue(#e83929)};
    --name: "Kuro";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/kuro.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/kuro.png");
}

[character="Leo"] {
    --color: #ec6d51;
    --hue: #{color.hue(#ec6d51)};
    --name: "Leo";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/leo.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/leo.png");
}

[character="Madara"] {
    --color: #622d18;
    --hue: #{color.hue(#622d18)};
    --name: "Madara";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/madara.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/madara.png");
}

[character="Makoto"] {
    --color: #65ab31;
    --hue: #{color.hue(#65ab31)};
    --name: "Makoto";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/makoto.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/makoto.png");
}

[character="Mao"] {
    --color: #941f57;
    --hue: #{color.hue(#941f57)};
    --name: "Mao";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/mao.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/mao.png");
}

[character="Mayoi"] {
    --color: #522f60;
    --hue: #{color.hue(#522f60)};
    --name: "Mayoi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/mayoi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/mayoi.png");
}

[character="Midori"] {
    --color: #00533f;
    --hue: #{color.hue(#00533f)};
    --name: "Midori";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/midori.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/midori.png");
}

[character="Mika"] {
    --color: #006a6c;
    --hue: #{color.hue(#006a6c)};
    --name: "Mika";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/mika.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/mika.png");
}

[character="Mitsuru"] {
    --color: #ed6d35;
    --hue: #{color.hue(#ed6d35)};
    --name: "Mitsuru";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/mitsuru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/mitsuru.png");
}

[character="Nagisa"] {
    --color: #a73836;
    --hue: #{color.hue(#a73836)};
    --name: "Nagisa";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/nagisa.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/nagisa.png");
}

[character="Natsume"] {
    --color: #d70035;
    --hue: #{color.hue(#d70035)};
    --name: "Natsume";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/natsume.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/natsume.png");
}

[character="Nazuna"] {
    --color: #ffec47;
    --hue: #{color.hue(#ffec47)};
    --name: "Nazuna";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/nazuna.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/nazuna.png");
}

[character="Nice"] {
    --color: #414ea3;
    --hue: #{color.hue(#414ea3)};
    --name: "Nice";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/nice.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/nice.png");
}

[character="Niki"] {
    --color: #507ea4;
    --hue: #{color.hue(#507ea4)};
    --name: "Niki";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/niki.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/niki.png");
}

[character="Raika"] {
    --color: #298c7c;
    --hue: #{color.hue(#298c7c)};
    --name: "Nice";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/raika.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/raika.png");
}

[character="Rei"] {
    --color: #47266e;
    --hue: #{color.hue(#47266e)};
    --name: "Rei";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/rei.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/rei.png");
}

[character="Rinne"] {
    --color: #b7282e;
    --hue: #{color.hue(#b7282e)};
    --name: "Rinne";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/rinne.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/rinne.png");
}

[character="Ritsu"] {
    --color: #001e43;
    --hue: #{color.hue(#001e43)};
    --name: "Ritsu";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/ritsu.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/ritsu.png");
}

[character="Seiya"] {
    --color: #043c78;
    --hue: #{color.hue(#043c78)};
    --name: "Seiya";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/seiya.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/seiya.png");
}

[character="Shinobu"] {
    --color: #ffdc00;
    --hue: #{color.hue(#ffdc00)};
    --name: "Shinobu";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/shinobu.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/shinobu.png");
}

[character="Shu"] {
    --color: #e3acae;
    --hue: #{color.hue(#e3acae)};
    --name: "Shu";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/shu.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/shu.png");
}

[character="Sora"] {
    --color: #fff352;
    --hue: #{color.hue(#fff352)};
    --name: "Sora";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/sora.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/sora.png");
}

[character="Souma"] {
    --color: #5654a2;
    --hue: #{color.hue(#5654a2)};
    --name: "Souma";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/souma.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/souma.png");
}

[character="Subaru"] {
    --color: #f3981d;
    --hue: #{color.hue(#f3981d)};
    --name: "Subaru";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/subaru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/subaru.png");
}

[character="Tatsumi"] {
    --color: #7ebea5;
    --hue: #{color.hue(#7ebea5)};
    --name: "Tatsumi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tatsumi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tatsumi.png");
}

[character="Tetora"] {
    --color: #302833;
    --hue: #{color.hue(#302833)};
    --name: "Tetora";
    --light-mode: hsl(#{color.hue(#302833)}, 9%, 92%) !important;
    --dark-mode: hsl(#{color.hue(#302833)}, 5%, 25%) !important;
    --fill-mode: hsl(#{color.hue(#302833)}, 5%, 45%) !important;
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tetora.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tetora.png");
}

[character="Tomoya"] {
    --color: #eedcb3;
    --hue: #{color.hue(#eedcb3)};
    --name: "Tomoya";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tomoya.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tomoya.png");
}

[character="Tori"] {
    --color: #f5b2b2;
    --hue: #{color.hue(#f5b2b2)};
    --name: "Tori";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tori.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tori.png");
}

[character="Tsukasa"] {
    --color: #942343;
    --hue: #{color.hue(#942343)};
    --name: "Tsukasa";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tsukasa.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tsukasa.png");
}

[character="Tsumugi"] {
    --color: #00608d;
    --hue: #{color.hue(#00608d)};
    --name: "Tsumugi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tsumugi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tsumugi.png");
}

[character="Wataru"] {
    --color: #a1d8e2;
    --hue: #{color.hue(#a1d8e2)};
    --name: "Wataru";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/wataru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/wataru.png");
}

[character="Yuta"] {
    --color: #00a1e9;
    --hue: #{color.hue(#00a1e9)};
    --name: "Yuta";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/yuta.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/yuta.png");
}

[character="Yuzuru"] {
    --color: #3e62ad;
    --hue: #{color.hue(#3e62ad)};
    --name: "Yuzuru";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/yuzuru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/yuzuru.png");
}
