@font-face {
    font-family: "Almendra";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("https://fonts.gstatic.com/s/almendra/v15/H4ciBXKAlMnTn0CskxY4yLs.ttf")
        format("truetype");
}

@font-face {
    font-family: "Almendra";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("https://fonts.gstatic.com/s/almendra/v15/H4chBXKAlMnTn0CskxY48Ae9oqY.ttf")
        format("truetype");
}

@font-face {
    font-family: "Material Icons Rounded";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/materialiconsround/v79/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmM.otf")
        format("opentype");
}
