[character],
.minitalk,
.toolbar,
.msr-season,
.msr-location,
.msr-narration,
.msr-cw {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
