.msr-season {
    &.winter {
        border-color: hsl(221, 27%, 77%);
        background: hsl(221, 27%, 92%);
    }

    &.spring {
        border-color: hsl(341, 100%, 80%);
        background: hsl(341, 100%, 95%);
    }

    &.summer {
        border-color: hsl(210, 100%, 80%);
        background: hsl(210, 100%, 95%);
    }

    &.fall,
    &.autumn {
        border-color: hsl(29, 100%, 80%);
        background: hsl(29, 100%, 95%);
    }
}
