@mixin grid-center {
    display: grid;
    align-items: center;
}

@mixin marker-icon {
    font-family: "Material Icons Rounded";
    justify-self: center;
}

@mixin marker-line {
    content: "";
    height: 0.1em;
    width: 100%;
    display: block;
    border-bottom: solid var(--msr-marker-lineColor, #555) 1px;
}
