@use "core";

.msr-location {
    @include core.grid-center;
    grid-template: 1fr / 1fr auto 1fr;
    gap: 5px;
    margin: 0.8em 0;

    p {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 5px;

        &::before {
            content: "\e55f";
            @include core.marker-icon;
            font-size: 18px;
        }
    }

    span {
        padding-right: 2px;
    }

    &::before,
    &::after {
        @include core.marker-line;
    }
}
