@media (max-width: 650px) {
    .msr-narration {
        grid-template: 1fr / var(--msr-icon-sizeSmall) 1fr;
        margin-bottom: var(--msr-unit-marginSmall);
    }

    .msr-cw {
        margin: var(--msr-unit-marginSmall) 0;
    }
}
