a.msr-fn {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
    font-weight: 700;
    font-style: normal;
    font-size: 0.55em;
    border-radius: 3px;
    border: solid 1px rgb(158 158 158 / 40%);
    padding: 0 3px;
    background: rgb(255 255 255 / 50%);
    color: var(--storyColor);
    --storyColor-dark-l: calc(var(--storyColor-l) - 20%);
    --storyColor-dark: hsl(
        var(--storyColor-h),
        var(--storyColor-s),
        var(--storyColor-dark-l)
    );

    &:hover {
        color: var(--storyColor-dark);
    }
}

.msr-fn {
    > ol {
        padding-left: 0;
        margin-left: 20px;

        > li {
            a.arrow {
                color: var(--storyColor);
                border: 0;

                &:hover {
                    color: var(--storyColor-dark);
                }
            }
        }
    }
}
