.tippy-box[data-theme~="translucent"] {
    background-color: var(--msr-tippy-bg);
    font-size: 0.9em;

    a {
        color: var(--storyColor-bright);
        border-bottom: 0;
        text-decoration: underline;

        &:hover {
            color: var(--storyColor);
        }
    }

    > .tippy-arrow {
        width: 14px;
        height: 14px;
    }

    &[data-placement^="top"] > .tippy-arrow:before {
        border-width: 7px 7px 0;
        border-top-color: var(--msr-tippy-bg);
    }

    &[data-placement^="bottom"] > .tippy-arrow:before {
        border-width: 0 7px 7px;
        border-bottom-color: var(--msr-tippy-bg);
    }

    &[data-placement^="left"] > .tippy-arrow:before {
        border-width: 7px 0 7px 7px;
        border-left-color: var(--msr-tippy-bg);
    }

    &[data-placement^="right"] > .tippy-arrow:before {
        border-width: 7px 7px 7px 0;
        border-right-color: var(--msr-tippy-bg);
    }

    > {
        .tippy-backdrop {
            background-color: var(--msr-tippy-bg);
        }

        .tippy-svg-arrow {
            fill: var(--msr-tippy-bg);
        }
    }
}
